<template>
  <section class="container">
    
    <h1>Цены на сегодня</h1>

    <select id="selectAI" v-model="ai">

      <option value="ai92"> ai92 </option>
      <option value="ai95"> ai95 </option>

    </select>

    <chart v-if="ai === 'ai92'" :data="listAI.ai92"></chart>
    <chart v-if="ai === 'ai95'" :data="listAI.ai95"></chart>

    <h1>{{ ai }}</h1>

  </section>
</template>

<script>
import chartData from '~/components/chartData'

export default {
  data(){
    return {
      listAI: {
        ai92: [
          {
            id: 1,
            companyName: "EKA",
            valuta: "RUB",
            price: 42.35
          },
          {
            id: 2,
            companyName: "Shell",
            valuta: "RUB",
            price: 42.29
          },
          {
            id: 3,
            companyName: "ГазпромНефть",
            valuta: "RUB",
            price: 41.9
          }
        ],
        ai95: [
          {
            id: 1,
            companyName: "EKA",
            valuta: "RUB",
            price: 45.75
          },
          {
            id: 2,
            companyName: "Shell",
            valuta: "RUB",
            price: 46.29
          },
          {
            id: 3,
            companyName: "ГазпромНефть",
            valuta: "RUB",
            price: 45.8
          }
        ]
      },
      ai: ''
    }

  },
  components: {
    'chart': chartData
  }
}
</script>

<style>
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>

